doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="../public/js/index.js")
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        link(rel="stylesheet", type = "text/css", href="../../public/styles/styles.css")
        title Words. Words. Words.
    body
    h1 Something