extends main.pug

block create
    .row
        form.col.s12
            .row
                .input-field.col.s6
                    input#first_name.validate(placeholder='Placeholder', type='text')
                    label(for='first_name') Title

                .input-field.col.s6
                    select
                        option(value='') Genre
                        option(value='1') Option 1
                        option(value='2') Option 2
                        option(value='3') Option 3
                    label Pick your Genre


            .row
                form.col.s12
                    .row
                    .input-field.col.s12
                        textarea#textarea1.materialize-textarea
                        label(for='textarea1') Textarea

  
    
