extends main.pug

block create
    .container
        .row(id="createPage")
            form.col.s6#loginForm
                    h6 Author Login
                    .input-field.col.s6
                        input#loginName.validate(placeholder='Name', type='text')
                        label(for='login_name') Name
                    .input-field.col.s6
                        input#loginPassword.validate(placeholder="Password", type='text')
                        label(for='password') Password
            form.col.s6#signUpForm
                    h6 New Authors
                    .input-field.col.s6
                        input#newName.validate(placeholder="Name" type='text')
                        label(for='new_name') Name
                        span#nameHelper.helper-text(data-error="author name must be between 3 and 20 characters")
                    .input-field.col.s6
                        input#newPassword.validate(placeholder="Password" type='text')
                        label(for='password') Password
                        
        .row(id="accountButtons")
            div.col.s6
                a.waves-effect.waves-light.btn(id="login-button") Login
                a.waves-effect.waves-light.btn(id="loginGetButton") Login
                a.waves-effect.waves-light.btn(id="signUpPostButton") Sign Up
            div.col.s6
                a.waves-effect.waves-light.btn(id="signup-button") Sign Up
                

        .row
            .instructions
                p Game Instructions:
                p Write your own Rad Libs! Put the words you want the player to replace inside [brackets]. Example: "The [noun] was very [adjective]" will give the user two blanks to fill. You can include as few as one, or as many as one hundred! 
            form#createForm.col.s12
                #titleGenreDiv
                    .row#titleGenreRow
                        .input-field.col.m6.s5
                            input#title.validate(placeholder="Title", type='text', minlength="5", maxlength="40", required, aria-required="true")
                            label(for='title') Story Title
                            span#titleHelper.helper-text(data-error="Every story needs a title")

                
                        .input-field.col.m6.s5
                            select#genre.validate(required, aria-required="true")
                                option(value=null) Genre
                                option(value='Drama') Drama
                                option(value='Comedy') Comedy
                                option(value='Scary') Scary
                            label Pick your Genre
                            span#genreHelper.helper-text(data-error="Don't forget to chose a genre")


                #textDiv
                    .row#storyRow
                        form.col.s12
                            .row
                            .input-field.col.s12
                                textarea#text.materialize-textarea.validate(placeholder="Text" data-length="5000", maxlength="5000", required, aria-required="true")
                                label(for='textarea1') Your Story Here
                                span#textHelper.helper-text(data-error="Your story can't be blank", data-success="Story Submitted!")



                button#submit.btn.waves-effect.waves-light(type='submit', name='action')
                    | Submit
                    i.material-icons.right