extends main.pug

block create
    #modal1.modal
        .modal-content
            a#authorDrop.dropdown-trigger.btn(href='#', data-target='dropdown1') Drop Me!
            p New here? Click the "Newbie" button to follow the link to our author page!
        .modal-footer 
            a#authorPage.modal-close.waves-effect.waves-green.btn-flat(href='author') Newbie
    .row
        form.col.s12
            #titleGenreDiv
                .row#titleGenreRow
                    .input-field.col.m6.s5
                        input#title.validate(placeholder='Placeholder', type='text', required)
                        label(for='title') Story Title
            
                    .input-field.col.m6.s5
                        select#genre(required)
                            option(value='') Genre
                            option(value='1') Option 1
                            option(value='2') Option 2
                            option(value='3') Option 3
                        label Pick your Genre

            #textDiv
                .row#storyRow
                    form.col.s12
                        .row
                        .input-field.col.s12
                            textarea#text.materialize-textarea(required)
                            label(for='textarea1') Your Story Here 

            button#submit.btn.waves-effect.waves-light(type='submit', name='action')
                | Submit
                i.material-icons.right