extends main.pug

block create
    .container
        .row
            div#introduction
                p Rad Libs is a radical word game that anyone can play!
                p Make fun stories for others to complete, or play fill-in-the blank with stories made by others.