doctype html
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
            link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
            link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
            link(href='https://fonts.googleapis.com/css?family=Teko', rel='stylesheet')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
            link(rel="stylesheet", type="text/css", href="/styles/styles.css")
            script(src="js/validate.js")
            script(src="js/index.js")
            title Rad Libs
    body
        block body
            .row
                .col.s12.m12#colOne
                    .card
                        .card-content.white-text
                            span.card-title(id="pageTitle") RadLibs
                            p
                            | Words up, brah!     
            nav
                .nav-wrapper
                    a.sidenav-trigger(href='#', data-target='mobile-demo')
                        i.material-icons menu
                    ul.left.hide-on-med-and-down
                        li
                            a(href="/") Home
                        li
                            a(href="/create") Create
                        li
                            a(href="/stories") Stories
                        li
                            a(href="/author") Authors
                        li 
                            a(href="/write") Play
                    ul#mobile-demo.sidenav
                        li
                            a(href="/") Home
                        li
                            a(href="/create") Create
                        li
                            a(href="/stories") Stories
                        li
                            a(href="/author") Authors
                        li 
                            a(href="/write") Play
                            
        block create
        block search
        block write