extends main.pug

block create
    .row
        div#storyDiv
            .row
                ul
                    each story in stories
                        li #{stories.title}
                            .col.s12.m6#storiesList
                                .card.blue-grey.darken-1
                                    .card-content.white-text
                                        a#storyTitle.card-title(href="write") #{story.title}
            
                                    .card-action
                                        a #{story.genre}
                                        a #{story.Author.name}
                                        
                    
