extends main.pug
block create
    .container
        script.
            var storyBody = "#{stories.body}"
        script(src="/js/write.js")
        .row
            div
                .row
                    form#storyForm
                        div#showWrite
                    